body {
  background-color: #141d26;
  color: white;
}

.logo {
  width: 30px;
}

svg.active {
  fill: #1da1f2;
}

/* XS Components */
.composeTweetRight {
  background-color: #1da1f2;

  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.bottomNav {
  height: 50px;
  border-top: 1px solid gray;
  background-color: #141d26;
}

/* Header */
.header {
  border-bottom: 1px solid gray;
  background-color: #141d26;
}
.profileImage {
  background-color: white;
  border-radius: 100%;
  width: 28px;
  height: 28px;
}

.header .home {
  font-size: 19px;
}

/* Timeline */
.tweetGroup {
  border-bottom: 1px solid gray;
}

/* Left NAv */
.leftnav {
  min-width: 60px;
  min-height: 0px;
  height: 100vh;
  border-right: 1px solid gray;
}

/* Right Nav */
.rightnav {
  min-width: 375px;
  max-width: 375px;
}
